html,
body {
  height: 100%;
  min-height: 100%;
}

* {
  font-family: 'Roboto', sans-serif;
}

tr:hover {
  background-color: rgba(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.12);
}

.search-table {
  font-size: .85em;
  overflow-y: scroll;
  height: 325px;
}

.progress {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 33%;
}

.card-chart {
  width: 100%;
  min-height: 200px;
}

#sidenav-trigger * {
  margin: 0;
  line-height: 200%;
  height: 100%;
}

.tab a {
  font-weight: bold;
}

#toast-container {
  top: 0 !important;
}

#toast-container span {
  margin-right: 10px;
}

.modal {
  max-height: 75% !important;
}

.modal .btn {
  margin: 6px !important;
}